<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <!--移动端的预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">

</head>
<body>
<!--ui component and inverted反转本身的白色底成黑色，浮出一块,attached去tags间的空间并去圆角-->
<!--UI definitions in Semantic are given the class name ui.
This is to help tell the difference between ui elements and parts of the definition of an element.
This means any element with the class name UI has a corresponding UI definition.
For example a menu may have menu items inside of it.
These items are contained as part of the menu definition
but do not receive the class name ui because they are part of a UI menu collection.-->
<!--导航-->
<nav class="ui inverted segment attached m-padded-tb-mini m-shadow-small">
    <!--container makes it responsive max width based on size of user's screen-->
    <div class="ui container">
        <!--secondary 效果上灰了一点-->
        <!--item 使tag成为menu的一个子件 以竖线分割,teal 颜色 secondary -->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui header teal item ">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"> <i class="home small icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"> <i class="idea small icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"> <i class="tags small icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"> <i class="clone small icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"> <i class="info small icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon input transparent inverted">
                    <input type="text" placeholder="Search....">
                    <!--link search icon放大镜，link 使鼠标hover时变手指,-->
                    <i class="search icon link"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="ui icon menu toggle black button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--ui just define that tag is a part of a component-->
<div class="m-container  m-padded-tb-massive">
    <div class="container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="../static/images/IMG-xiong.JPG" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">
                        what are you doing here?
                    </p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange left pointing label">x</div>
                    <div class="ui orange left pointing label">y</div>
                    <div class="ui orange left pointing label">z</div>
                    <div class="ui orange left pointing label">a</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal left pointing label m-margin-tb-tiny">x</div>
                    <div class="ui teal left pointing label m-margin-tb-tiny">y</div>
                    <div class="ui teal left pointing label m-margin-tb-tiny">z</div>
                    <div class="ui teal left pointing label m-margin-tb-tiny">a</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <!--if use tooltip add span to corret it-->
                    <a href="#" class="ui qq circular icon button" data-content="419799016"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>

                <div class="ui wechatQR flowing popup transition hidden">
                    <img src="../static/images/IMG-xiong.JPG" alt="" class="ui rounded image" style="width: 100px">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="ui inverted segment m-padded-tb-massive">
    <div class="ui container center aligned ">
        <!--div.ui.grid,默认共16份-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/IMG-xiong.JPG" alt="wechat img" class="ui rounded image" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <!--link list 竖着的-->
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">关于刻苦学习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: xxx@gmail.com</a>
                    <a href="#" class="item">QQ</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">标题</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">段落内容</p>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright &copy 2018 Designed by XXK</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
<script>
    $(document).ready(function () {
        $('.menu.toggle').click(function (event) {
            event.preventDefault();
            $('.m-item').toggleClass('m-mobile-hide')
        });

        $('.qq').popup();

        $('.wechat').popup({
            popup: $('.wechatQR.popup'),
            // on:'click',
            position: 'bottom center',
        });
    });


</script>
</body>
</html>